*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    display: flex;
    justify-content: center;
}
body{
    margin: 8px;
    display: flex;
    justify-content: center;
}
.container{
    width: 77.406vw;
    background-color: #53AEFD;
    padding: 10px 0;
    border: white 2px solid;
    box-shadow: 5px 10px #888888;
}
.logo{
    position: relative;
    width: 300px;
    height: 105px;
    display: grid;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #888888;
    box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0), 5px 5px #958b8b;
}
.logo h2 {
    align-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: #03FFFB;
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;

}
.logo__title--top{
    border-radius: 20px 20px 0 0;
}
.logo__title--bottom{
    border-radius: 0 0 20px 20px;
}
.logo__texture--bolt{
    position: absolute;
    top: 0;
    left: 15px;
    width: 50px;
    height: 50px;
    background-color: black;
    clip-path: polygon(49% 0, 10% 24%, 37% 43%, 27% 48%, 50% 70%, 41% 76%, 80% 100%, 60% 65%, 69% 60%, 49% 36%, 55% 31%);
}
.logo__texture--flash{
    position: absolute;
    top: 30px;
    left: 48px;
    width: 25px;
    height: 25px;
    background-color: black;
    clip-path: polygon(30% 66%, 53% 2%, 61% 5%, 37% 71%, 76% 38%, 81% 44%, 52% 68%, 88% 65%, 88% 71%, 49% 74%, 49% 70%, 42% 76%, 37% 71%);
}
/* form */
.form{
    margin: auto;
    display: inline-block;
    width: 535px;
}
form *{
    margin: 3px 0;
}
.form__title, .form__comment{
    text-align: center;
}
.form__title{
    margin: 25px 0;
}
#lname_text, #state__text, #zip__text{
    display: inline;
}
.form div label{
    width: 200px;
    display: inline-block;
    text-align: left;
}
#adress1, #adress2{
    width: 150px;
    margin: 5px;
}
.form-address input{
    width: 220px;

}
#fname, #lname{
    width: 100px;
}
#state, #zip{
    width: 50px;
}
.form div{
    display: inline;
}
.form__used, .form__system{
    display: inline-block;
}
.used__checkboxs, .system__checkboxs{
    display: inline-grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}
#product__select{
    width: 100px;
}
.form ul li{
    width: 155px;
    text-align: left;
}
#comment{
    width: 300px;
    height: 100px;
}
.btns{
    width: 100%;
    text-align: center;
}